.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    padding-top: 28px;
    border: 2px red solid;
     
}

.header {
    max-width: 1184px;   
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin: 0 auto;
    border: 2px red solid;
    margin: 0 48px;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    color: #FFFFFF;     
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-decoration: none;
    transition: 1s ease;
    opacity: 1;
    margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover{
    opacity: 0.3;
}

.lead{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 2px red solid;
    margin: 56px 148px 0;
}

.lead__title {
    max-width: 720px;     
    color: #FFFFFF;     
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    font-weight: normal;
    text-align: center;     
    margin: 0;
}

.lead__subtitle {
    max-width: 640px;     
    color: #FFFFFF;     
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    font-weight: normal;
    text-align: center;     
    margin: 0;
    margin-top: 32px;
    margin-bottom: 64px;
}
.lead__image {
    width: 100%;
}

.lead__caption {
    max-width: 159px;     
    color: #FFFFFF;     
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    font-weight: normal;
   align-self: start;
    text-transform: uppercase;
    margin: 0;
    margin-top: 8px;
}

.intro__content {
    max-width: 690px;
    
    border: 2px red solid;
    margin-left: 148px;
    margin-top: 92px;
}

.intro__title {
    max-width: 690px;     
    color: #FFFFFF;     
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    font-weight: normal;         
    margin: 0; 
}
.intro__text{
    max-width: 690px;     
    color: #FFFFFF;     
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
              
    margin: 0;
    margin-top: 40px;
    margin-bottom: 32px;
}
.intro__list {
    max-width: 690px;     
    color: #FFFFFF;     
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
            
    margin: 0;
    padding: 0;
     
    list-style: none;
}

.intro__item {
    font-weight: normal;
}

.photo-grid{
    margin: 92px 48px 0;
    max-width: 1184px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 284px);
}

.photo-grid__item{
    width: 100%;
     
}

.places {
    max-width: 984px;
    margin: 0 auto;
    border: 2px red solid;
}

.place {
     
    display: grid;
    grid-template-columns: 340px 1fr;
    /*grid-template-areas:
    "place__title" "place__website"
    "place-image" "place-paragraph";*/
    gap: 48px 40px;
    border: 2px red solid;
   
}

.place__image{
    
max-width: 460px;
grid-area: place-image;
}


.place__title{
    grid-area: place-title;
}

 

.place__website{
    grid-area: place-website;
}

.place__url-heading{}

.place__link{}

.place__paragraph{
    grid-area: place-paragraph;
}

.cover{
    margin: 0 auto;
    max-width: 1184px;
    max-height: 740px;
    border: 2px red solid;
    position: relative;
    overflow: hidden;
     
}
.cover__background{
    width: 100%;
    object-fit: cover;
    
}

.cover-title{
    position: absolute;
    top: 245px;
}

.cover-subtitle{
    position: absolute;
    top: 477px;
}

.footer{
    display: flex;
}

@media screen and (max-width: 1279px) and (min-widht: 1024px) {

}
@media screen and (max-widht: 1023px) and (min-width: 768px)  {
    
}
@media screen and (max-widht: 767px){
    
}
    