.page {
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    padding-top: 28px;    
    margin: 0 auto; 
    border: solid green 1px;
}

.link:hover {
    transition: 0.8s ease;
    opacity: 0.6;
}

.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;  
    padding: 0 48px 56px 48px;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    color: #FFFFFF;   
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    text-decoration: none;
    transition: 1s ease;
    opacity: 1;
    margin-right: 18px;
    text-decoration: underline;
}

.header__lang-link:last-child {
  margin-right: 0;
  text-decoration: none;
}



.lead {
    max-width: 984px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;    
    padding-bottom: 92px;
}

.lead__title {     
    max-width: 720px;   
    color: #FFFFFF;   
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;     
    text-align: center;   
    margin: 0;     
}

.lead__subtitle {
    max-width: 640px;   
    color: #FFFFFF;    
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;    
    text-align: center;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 64px;
}

.lead__image {     
    width: 100%;
}

.lead__caption {
    max-width: 159px;   
    color: #FFFFFF;   
    font-size: 10px;
    font-weight: normal;
    line-height: 1.4;   
    align-self: start;
    text-transform: uppercase;
    margin: 0;
    margin-top: 8px;
}

.intro__container {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 0;
    padding-left: 148px;   
    padding-bottom: 92px;
}

.intro__title {
    max-width: 690px;   
    color: #FFFFFF;   
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;     
    margin: 0;
}

.intro__text {
    max-width: 690px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;              
    margin: 0;
    margin-top: 40px;
    margin-bottom: 32px;
}

.intro__list {
    max-width: 690px;    
    color: #FFFFFF;    
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;            
    margin: 0;
    padding: 0;     
    list-style: none;
}

.intro__span-accent {
    font-weight: normal;
}

.photo-grid {
    padding-bottom: 92px;
    margin: 0 auto;
    max-width: 1184px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 284px);
}

.photo-grid__item {
    width: 100%;    
}


.places {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;    
}

.place {    
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr;
    gap: 48px 40px;    
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0;
}

.place__image {
    object-fit: cover;    
    width: 100%;   
}
 

.place__title {
    max-width: 460px;   
    color: #FFFFFF;  
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    margin: 0;
}
     
.place__website {
    align-self: end;
}

.place__url-heading {
    max-width: 456px;   
    color: #AAAAAA;     
    font-size: 12px;
    font-weight: normal;
    line-height: 1; 
}

.place__link {
    max-width: 456px;   
    color: #FFFFFF;  
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

.place__main-text {
    margin: 0;
}

.place__paragraph {
    max-width: 484px;   
    color: #FFFFFF;  
    font-size: 18px;
    font-weight: normal;
    line-height: 1.7;
    margin: 0;    
}  

.cover {
    margin: 0 auto;     
    max-width: 1184px;
    max-height: 740px;     
    position: relative;    
}

.cover__overlay {   
    background-image: url(../images/cover-trains.jpg);    
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}  

.cover__title {
    position: absolute;
    top: 245px;
    left: 312px;
    text-align: center;    
    max-width: 560px;   
    color: #FFFDFD;  
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    margin: 0;
}     

.cover__subtitle {
    position: absolute;
    top: 429px;
    left: 412px;
    text-align: center;
    max-width: 360px;   
    color: #FFFFFF;  
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}     

.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 24px;
    align-items: baseline;
}

.footer__links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer__link {
    max-width: 50px; 
    color: #FFFFFF;  
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;     
    margin-right: 18px;
    text-decoration: none;
}
 
.footer__copyright {
    max-width: 186px;
    color: #FFFFFF;  
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0;     
}
 
@media (max-widht: 1279px) {
    .header {
        max-width: 928px;
    }
     
}

@media (max-widht: 1024px) {
    .header {
        max-width: 928px;
    }
    .lead { 
         
    } 
    
}

@media (max-widht: 767px) {
    .header {
        max-width: 380px;
    }
    .lead-title {
        max-width: 720px;
        font-size: 40px;
    }
     
}

@media (max-widht: 425px) {
    .header {
        max-width: 340px;
    }
}
}

@media (max-widht: 312px) {
    .header {
        max-width: 288px;
        
    }
}   